* {
  font-family: "Noto Sans KR", "나눔고딕", "NanumGothic", BlinkMacSystemFont,
    -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", sans-serif, "Helvetica Neue";

  overflow: auto;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: white;
  padding: 10px 30px;
}

.detail > a > img {
  margin: 10px;
  width: 30%;
  height: 30%;
  float: left;
  padding-right: 15px;
}

.club {
  width: 60%;
  display: inline-block;
}
